<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="<%= randomHexColor %>" />
  <meta property="og:image" content="/images/<%= fileName %>" />
  <meta property="og:title" content="<%= fileName %> | <%=title%>" />
  <meta property="og:description" content="<%= description %>" />
  <link rel="stylesheet" href="css/viewer.css" />
  <title></title>
</head>

<body>
  <div class="flex h-screen">
    <div class="m-auto" style="width: 75vh">
      <div class="bg-white rounded-lg p-10 pt-5 pb-5 bg-opacity-30">
        <img src="/images/<%= fileName %>" draggable="false" class="cursor-pointer w-full" onclick="window.open(this.src)" />
        <div class="grid grid-flow-col black mt-5">
          <div class="flex space-x-1">
            <span class="float-left h-6 w-6 mr-2">📅</span>
            <%= fileDate %>
          </div>
          <div class="flex justify-end space-x-1">
            <span class="float-left h-6 w-6 mr-2">💾</span>
            <%= fileSize %> MB
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.title = "<%= fileName %> | <%=title%>";
  </script>
</body>

</html>